4Topics.txt
[
    {
        "id": "1",
        "type": "tab",
        "label": "ESP32 Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_rgb_control",
        "type": "mqtt out",
        "z": "1",
        "name": "RGB Control",
        "topic": "control/rgb",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "rgb_picker",
        "type": "ui_colour_picker",
        "z": "1",
        "name": "RGB Picker",
        "label": "RGB",
        "group": "dashboard_group",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "",
        "format": "rgb",
        "outformat": "string",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "rgb_conversion"
            ]
        ]
    },
    {
        "id": "rgb_conversion",
        "type": "function",
        "z": "1",
        "name": "RGB to MQTT Format",
        "func": "let r = ('000' + msg.payload.r).slice(-3);\nlet g = ('000' + msg.payload.g).slice(-3);\nlet b = ('000' + msg.payload.b).slice(-3);\nmsg.payload = `${r},${g},${b}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "mqtt_rgb_control"
            ]
        ]
    },
    {
        "id": "mqtt_servo_control",
        "type": "mqtt out",
        "z": "1",
        "name": "Servo Control",
        "topic": "control/servo",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "servo_slider",
        "type": "ui_slider",
        "z": "1",
        "name": "Servo Angle",
        "label": "Servo Angle",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": 180,
        "step": 1,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "mqtt_servo_control"
            ]
        ]
    },
    {
        "id": "mqtt_stepper_control",
        "type": "mqtt out",
        "z": "1",
        "name": "Stepper Control",
        "topic": "control/stepper",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "stepper_input",
        "type": "ui_text_input",
        "z": "1",
        "name": "Stepper Steps",
        "label": "Steps",
        "group": "dashboard_group",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "mqtt_stepper_control"
            ]
        ]
    },
    {
        "id": "mqtt_luminaria_control",
        "type": "mqtt out",
        "z": "1",
        "name": "Luminaria Control",
        "topic": "control/luminaria",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "luminaria_switch",
        "type": "ui_switch",
        "z": "1",
        "name": "Luminaria",
        "label": "Luminaria",
        "group": "dashboard_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "mqtt_luminaria_control"
            ]
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "ESP32 Control",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
