ProbarConTopics.txt
[
    {
        "id": "1",
        "type": "tab",
        "label": "ESP32 Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_out_mode",
        "type": "mqtt out",
        "z": "1",
        "name": "Control Mode",
        "topic": "control/mode",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "switch_mode",
        "type": "ui_switch",
        "z": "1",
        "name": "Mode Switch",
        "label": "Mode",
        "tooltip": "Automatic (1) / Manual (2)",
        "group": "dashboard_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "offvalue": "2",
        "offvalueType": "str",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "mqtt_out_mode"
            ]
        ]
    },
    {
        "id": "mqtt_out_slider",
        "type": "mqtt out",
        "z": "1",
        "name": "Slider Control",
        "topic": "control/slider",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "slider_motor",
        "type": "ui_slider",
        "z": "1",
        "name": "Motor Speed Slider",
        "label": "Motor Speed",
        "tooltip": "Control Motor Speed",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": 100,
        "step": 1,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "mqtt_out_slider"
            ]
        ]
    },
    {
        "id": "mqtt_in_temperature",
        "type": "mqtt in",
        "z": "1",
        "name": "Temperature Sensor",
        "topic": "sensor/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "gauge_temperature"
            ]
        ]
    },
    {
        "id": "gauge_temperature",
        "type": "ui_gauge",
        "z": "1",
        "name": "Temperature Gauge",
        "group": "dashboard_group",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 10,
        "max": 40,
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_in_rgb",
        "type": "mqtt in",
        "z": "1",
        "name": "RGB Status",
        "topic": "status/rgb",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "rgb_text"
            ]
        ]
    },
    {
        "id": "rgb_text",
        "type": "ui_text",
        "z": "1",
        "name": "RGB State Display",
        "group": "dashboard_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "label": "RGB State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "ESP32 Control",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Control Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
